.line-table{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  &>div{
    display: flex;
    .title{
      font-size: 14px;
      color:#999;
      min-width:60px;
    }
  }
}
